n8n/BROKER IA - PORTAL WEB CORRIGIDO.json
{
    "name": "BROKER IA - PORTAL WEB",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "portal-web-chat",
                "responseMode": "lastNode",
                "responseData": "body",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                -672,
                -96
            ],
            "id": "17a4b01c-320f-44b4-b0e9-9a7ccbfd13f4",
            "name": "Entrada Portal Web",
            "webhookId": "portal-web-chat"
        },
        {
            "parameters": {
                "jsCode": "const input = $input.first().json;\nconst data = input.body || input;\n\nconst nomeCompleto = data.client_name || \"Visitante\";\nconst emailPortal = data.email || data.target || null;\nconst cpfPortal = (data.cpf || data.identifier || \"\").toString().replace(/\\D/g, '');\n\nlet contextoFinal = {\n    nome: nomeCompleto,\n    email_cadastrado: emailPortal,\n    telefone: data.target || data.telefone || null,\n    cpf_real: cpfPortal,\n    origem: \"PORTAL_WEB\",\n    token_portal: data.token || null,\n    action: data.action || null,\n    token_validado: \"NÃO\"\n};\n\nlet sessionID = cpfPortal ? \"WEB_\" + cpfPortal : \"WEB_MAIL_\" + (emailPortal || \"ANONIMO\").replace(/[^a-zA-Z0-9]/g, \"\");\n\nlet perguntaFinal = data.pergunta_cliente || data.pergunta || \"Olá\";\n\nif (data.action === \"SEND_2FA_TOKEN\") {\n    perguntaFinal = `[LOGIN PORTAL]: O cliente ${nomeCompleto} solicita acesso via WhatsApp.\n                     DADOS CONFIRMADOS:\n                     - CPF: ${cpfPortal}\n                     - Celular: ${contextoFinal.telefone}\n                     - Token Real: ${contextoFinal.token_portal}\n                     \n                     AÇÃO OBRIGATÓRIA (Omnichannel):\n                     1. Saude o cliente: \"Olá, ${nomeCompleto.split(' ')[0]}!\"\n                     2. Informe: \"Enviamos seu código de segurança para o seu WhatsApp.\"\n                     3. CHAME A FERRAMENTA 'enviar_token_seguranca' passando exatamente estes dados: Token: ${contextoFinal.token_portal} e Telefone: ${contextoFinal.telefone}`;\n}\n\nreturn [{ json: { pergunta_cliente: perguntaFinal, contexto: contextoFinal, telefone: sessionID, nome_whatsapp: nomeCompleto, origem: \"PORTAL_WEB\" } }];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -416,
                -96
            ],
            "id": "9df776b7-d8ee-400c-a7a2-7cd696e34312",
            "name": "Normalizar Portal"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.pergunta_cliente }}",
                "options": {
                    "systemMessage": "Você é o Agente Master da DWF Seguros (Washington). \nCLIENTE: {{ $json.contexto.nome }}\nCPF: {{ $json.contexto.cpf_real }}\nSESSÃO: {{ $json.telefone }}\n\n🛡️ PROTOCOLO OMNICHANNEL:\n1. Se o cliente pedir o código (2FA), use 'enviar_token_seguranca'.\n2. Se ele pedir apólices ou documentos, use 'consultar_detalhes_apolices' ou 'enviar_apolice_por_email'.\n3. Sempre use os nomes reais das ferramentas."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3,
            "position": [
                -112,
                -96
            ],
            "id": "29824c1d-f167-443d-be77-7ef2e85af44d",
            "name": "Portal_Master"
        },
        {
            "parameters": {
                "model": "google/gemini-2.5-flash",
                "options": {
                    "maxTokens": 2048
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
            "typeVersion": 1,
            "position": [
                -304,
                160
            ],
            "id": "466ac784-fe0b-43bc-be85-ff2ff072c2b6",
            "name": "OpenRouter Model",
            "credentials": {
                "openRouterApi": {
                    "id": "HzPUGkdiTBP5PHtz",
                    "name": "OpenRouter account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.telefone + '_v2' }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
            "typeVersion": 1.3,
            "position": [
                -112,
                160
            ],
            "id": "a42e2d09-1172-4096-8c14-d3203362af79",
            "name": "Postgres Memory",
            "credentials": {
                "postgres": {
                    "id": "5ijVVKEpFAWPNF6w",
                    "name": "brokeria_postgres_geral"
                }
            }
        },
        {
            "parameters": {
                "workflowId": "o4B6ABk9dbBuA2fV",
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "token": "={{ $json.token || $json.token_portal || $('Normalizar Portal').first().json.contexto.token_portal }}",
                        "cpf": "={{ $json.cpf || $json.cpf_real || $('Normalizar Portal').first().json.contexto.cpf_real }}",
                        "telefone_destino": "={{ $json.telefone || $('Normalizar Portal').first().json.contexto.telefone }}",
                        "canal": "whatsapp"
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                160,
                160
            ],
            "id": "1f162f7f-d906-4005-878f-e30c09bb95a9",
            "name": "enviar_token_seguranca"
        },
        {
            "parameters": {
                "workflowId": "HQ5dmivnCQKjRyG3",
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "cpf": "={{ $json.cpf || $json.cpf_real || $('Normalizar Portal').first().json.contexto.cpf_real }}"
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                336,
                160
            ],
            "id": "affbf0ed-151b-460c-a694-ac466356dd4c",
            "name": "consultar_detalhes_apolices"
        },
        {
            "parameters": {
                "workflowId": "n-iiun3kommkr9sO5CPXG",
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "numero_apolice": "={{ $json.numero_apolice || $json.input }}",
                        "email_destino": "={{ $('Normalizar Portal').first().json.contexto.email_cadastrado }}",
                        "cpf_cliente": "={{ $('Normalizar Portal').first().json.contexto.cpf_real }}"
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
            "typeVersion": 2.2,
            "position": [
                512,
                160
            ],
            "id": "4870fc5b-8f9d-4184-81a9-242a41bf0f34",
            "name": "enviar_apolice_por_email"
        }
    ],
    "connections": {
        "Entrada Portal Web": {
            "main": [
                [
                    {
                        "node": "Normalizar Portal",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Normalizar Portal": {
            "main": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenRouter Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Postgres Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "enviar_token_seguranca": {
            "ai_tool": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "consultar_detalhes_apolices": {
            "ai_tool": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "enviar_apolice_por_email": {
            "ai_tool": [
                [
                    {
                        "node": "Portal_Master",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    }
}